{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/show.css">
<div id="content" class="content">
    <div id="conheader" class="content header">
        <div id="contitle" class="content header title">阜阳市辖2区1市义务教育均衡发展省级督导评估结束 界首市暂缓通过<!--{{title}}--></div>
        <div id="conextra" class="content header extra">
        <div id="author" class="content header extra author">作者：安徽教育网   发布日期：2014-08-06 点击数：270<!--{{author}}--></div>
        <div id="author" class="content header extra author">作者：安徽教育网<!--{{author}}--></div>
        </div>
    </div>
    <div id="texts" class="content texts">
<p>7月下旬，省政府教育督导委员会、省教育厅抽调人员组成3个评估组，同时对阜阳市所辖颖泉区、颍东区、界首市等2区1市创建义务教育发展基本均衡县进行省级督导评估。实地督导评估结束后，评估组在阜阳市召开反馈会，2区1市政府主要负责人首先汇报各自推进均衡发展的工作情况，评估组组长代表评估组宣读对阜阳市所辖2区1市的省级评估意见。省教育厅总督学李明阳出席反馈会并讲话，他在充分肯定阜阳市及被评估县近年来所取得成绩的同时，提出了具体工作要求。阜阳市政府分管领导代表政府作表态性发言。包括2区1市在内的阜阳市所辖各县（市、区）政府负责人，阜阳市及2区1市政府有关部门负责人参加了反馈会。
</p>
<p>
本次省级评估启动前，省督导办依照2区1市提供的中小学校布局分布图，按照兼顾城乡、覆盖每个乡镇的原则，随机抽定实地督查的学校30所，提前1天通知2区1市。督导评估期间，评估组通过查阅资料、核实数据、召开家长教师座谈会、组织满意度问卷调查等多种方式，多层面、多角度地对有关市、区推进义务教育均衡发展的真实状况作了深入督导检查。</p>
<p>
省督导评估反馈意见结合实地督查了解掌握的情况，基于定量性数据分析得出评估结论，并有针对性地提出整改建议。本次省级评估的结果是，阜阳市颍泉区、颍东区顺利通过省级评估，界首市暂缓通过。 
</p>
<p>
按照省政府领导与教育部签署的备忘录规划的进度，至2013年底，全省应有55个县（市、区）实现义务教育发展基本均衡的目标任务。截至本次督导评估活动结束，已有50个县（市、区）先后接受省级评估。在已接受省级评估的50个县（市、区）中，合肥和铜陵所辖6区率先通过国家认定；宿州市的埇桥区、阜阳市的界首市暂未通过省级评估，2个月后，省将对其进行“回头看”；安庆市迎江区、宜秀区，蚌埠市蚌山区，阜阳市颍州区和池州市贵池区，因其2012-2013学年度教育事业统计报表显示差异系数存在问题，省尚未组织对其进行评估。省要求，上述5区需对照督导评估标准，坚持问题导向，找弱项，补短板，逐校梳理问题，逐一加以解决，切实做到立查立改，即缺即补，积极做好接受省级督导评估的准备工作。</p>
        <!-- {{ content }} -->
    </div>
</div>
{% endblock %}