@charset "utf-8";
/* CSS Document */

body
{
    /*background-color: #00b8ff;*/
    background-color: #f0f0f0;
}

.welcomtitle
{
    font-size: 16px;
}

#menutree
{
    width: 178px;
    height: auto;
    font-size: 12px;
}