{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/list.css">
<div id="content" class="content">
    <div id="conheader" class="header">
        <div id="contitle" class="position"><a href="#">新闻中心</a>-><a href="#">公告</a><!--{{position}}--></div>
    </div>
    <div id="texts" class="lists">
        <div class="item">
            <div class="label"></div>
            <div class="texts"><a href="#">全国职业教育工作会议精神宣讲会在合肥举行</a></div>
            <div class="time">[2014-08-07]<!--{{time}}--></div>
        </div>
        <div class="item">
            <div class="label"></div>
            <div class="texts"><a href="#">全国职业教育工作会议精神宣讲会在合肥举行</a></div>
            <div class="time">[2014-08-07]<!--{{time}}--></div>
        </div>
        <div class="item">
            <div class="label"></div>
            <div class="texts"><a href="#">全国职业教育工作会议精神宣讲会在合肥举行</a></div>
            <div class="time">[2014-08-07]<!--{{time}}--></div>
        </div>
        <div class="item">
            <div class="label"></div>
            <div class="texts"><a href="#">全国职业教育工作会议精神宣讲会在合肥举行</a></div>
            <div class="time">[2014-08-07]<!--{{time}}--></div>
        </div>
        <div class="item">
            <div class="label"></div>
            <div class="texts"><a href="#">全国职业教育工作会议精神宣讲会在合肥举行</a></div>
            <div class="time">[2014-08-07]<!--{{time}}--></div>
        </div>
        <div class="item">
            <div class="label"></div>
            <div class="texts"><a href="#">全国职业教育工作会议精神宣讲会在合肥举行</a></div>
            <div class="time">[2014-08-07]<!--{{time}}--></div>
        </div>
        <!-- {{ list }} -->
    </div>
</div>
{% endblock %}