@charset "gb2312";
/* CSS Document */

body
{
    margin: auto;
}

.cheader
{
	margin: 0 0 10px 0;
	padding: 0;
}

.cheader .top
{
	width:1000px;
	height:300px;
	margin: auto;
	background:url(/static/images/top.jpg) no-repeat center top;
}

.cheader .navigator
{
	width: 1000px;
	height: 40px;
	background-color:#3399FF;
	margin: auto;
}

.cheader .navigator .item
{
    width: 100px;
    height: 38px;
    margin: 2px;
    text-align: center;
    line-height: 38px;
    float: left;
}

.cheader .navigator .item a
{
    color: #FFFFFF;
    font-size: 14px;
}

.cheader .navigator .seperator
{
    width: 3px;
    height: 40px;
    margin: 0;
    overflow: hidden;
    float: left;
}